<h1 class="mb-20"><%= @company.companyName %></h1>

<table>
  <tr>
    <th>公司介紹</th>
    <td><%= @company.companyProfile %></td>
  </tr>
  <tr>
    <th>公司理念</th>
    <td><%= @company.companyPhilosophy %></td>
  </tr>
  <tr>
    <th>媒體報導</th>
    <td><%= @company.mediaReports %></td>
  </tr>
  <tr>
    <th>薪資福利</th>
    <td><%= @company.salaryAndBenefits %></td>
  </tr>
  <tr>
    <th>目前職缺</th>
    <td></td>
  </tr>
</table>

<!-- link_to 'Edit', edit_company_path(@company) -->
<%= link_to 'Back', admin_path %>