<div class="flex justify-between items-center">
  <h1 class="mb-20"><%= @company.companyName %></h1>
  <button class="btn">
    <%= link_to '管理公司資訊', edit_company_path(@company) %>
  </button>
</div>
<table>
  <tr>
    <th>公司介紹</th>
    <td><%= @company.companyProfile %></td>
  </tr>
  <tr>
    <th>公司理念</th>
    <td><%= @company.companyPhilosophy %></td>
  </tr>
  <tr>
    <th>媒體報導</th>
    <td><%= @company.mediaReports %></td>
  </tr>
  <tr>
    <th>薪資福利</th>
    <td><%= @company.salaryAndBenefits %></td>
  </tr>
</table>
<div class="flex justify-between items-center border-t pt-10 mt-10">
  <h2 class="my-10 text-grey text-sm">目前職缺</h2>
  <button class="btn">
    <%= link_to '新增職缺', jobs_new_path(:company_id => @company.id) %>
  </button>
</div>
<ul class="jobList mt-10 mb-10">
<% @jobs.each do |job| %>
  <li class="flex justify-between items-center">
    <span>
    <%= link_to job.jobTitle, edit_job_path(job, :company_id => @company.id) %>
    </span>
    <div class="flex items-center">
      <div class="switch mr-10">
      <%= form_with(model: job, method: :post, url: set_job_open_status_path ,local: true, html: { id: "form#{job.id}" })  do |form|%>
          <input type="hidden" name="job[id]" value="<%= job.id %>">
          <%= form.check_box :open, { include_hidden: false, id: "checkbox#{job.id}" } %>
          <label class="slider" for="checkbox<%= job.id %>"></label>
      <% end %>
      </div>
      <div class="pr-10">
        <%= button_to '', job, method: :delete, data: { confirm: 'Are you sure?' }, :form => { :id => "deleteform#{job.id}", :class => "hidden" }  %>
        <%= image_tag('/trash.png', size: "20x20", id: "deletebtn#{job.id}", class: :deleteImg) %>
      </div>
    </div>
  </li>
<% end %>
</ul>

<!-- link_to 'Edit', edit_company_path(@company) -->
<%= link_to 'Back', admin_path %>